.picks
	h2
		font-family: Affogato-Black
		font-size: 22px
		line-height: 30px
		text-align: center
		margin: 0
		padding: 27px 0 24px 0

	.item
		background: #fff
		padding: 16px 20px
		border-radius: 26px
		box-shadow: 0 22px 54px 0 rgba(77, 95, 111, 0.31)
		margin-bottom: 12px
		position: relative
		z-index: 11

	.item-detail
		background: url(img/smallpattern.png) no-repeat center
		width: 85%
		margin: 0 auto
		position: relative
		z-index: 10
		top: -48px
		padding: 58px 5px 16px 5px
		border-radius: 26px
		box-shadow: 0 11px 27px 0 rgba(77, 95, 111, 0.31)

	td
		font-size: 13px
		font-family: Affogato-Medium
		line-height: 15px
		padding: 0 20px

	.price
		font-size: 18px
		line-height: 28px
		padding-top: 10px
		font-family: Affogato-Black
		color: #5e5995

.love
	padding: 103px 0 71px 0
	height: 544px
	background: #fff url(img/lovebannerbg.png) no-repeat center

	h2
		font-family: Affogato-Black
		font-size: 28px
		text-align: center
		color: #4a4a4a
		margin: 0
		padding: 0 0 44px 0
		text-transform: uppercase

	td
		font-family: Affogato-Medium
		font-size: 22px
		line-height: 24px
		color: #4a4a4a





